<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant_path(restaurant) do %>
        <%= restaurant.name %>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>
